In [177]:
import pandas as pd 
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [171]:
df = pd.read_csv("data/insurance.csv")
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [172]:
df["loc_y"] =  df["region"].apply(lambda x: x[:5])
df["loc_x"] =  df["region"].apply(lambda x: x[5:])
df.drop(columns="region",inplace=True)

In [173]:
x = df.drop(columns="expenses")
y = df["expenses"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=42)
cats = x_train.select_dtypes("object").columns
nums = x_train.select_dtypes(exclude="object").columns

In [174]:
cat_pipe = Pipeline(
    steps=[
        ("imputer",SimpleImputer(strategy="most_frequent")),
        ("encoder",OneHotEncoder(handle_unknown="ignore",sparse_output=False)),
        ("scaler",StandardScaler())
    ]
)

nums_pipe =  Pipeline(
    steps=(
        [
            ("imputer",SimpleImputer(strategy="mean")),
            ("scaler",StandardScaler())
        ]
    )
)
preprocessor = ColumnTransformer(
   [ ("num",nums_pipe,nums),
    ("cat",cat_pipe,cats)]
)

In [176]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [178]:
model = LinearRegression()
model.fit(x_train,y_train)
model.score(x_train,y_train),model.score(x_test,y_test)

(0.741730377656061, 0.7833716676182348)